@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('truetype');
}

body {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root, #root>div {
  height: 100%
}

input, textarea, button {
  font-family: inherit
}